/*---------------------------Desktop-------------------*/

@media (min-width: 950px) {
    /*------------------------------HEADER------------------------*/

    header {
         nav {
            margin: 0 0 0 0;
            .menu {
                width: 527px;
                ul {
                    li {
                        a {
                            font-size: 100%;
                            color: #060a24;
                        }
                    }
                }
            }
        }
    }

    /*-----------------------------MAIN----------------------------------*/

    main {
        margin-top: 5.56vw;
        .intro {
            margin: 0 13.89% 5px 13.89%;
            h1 {
                margin: 8.34vw 0 0 0;
                font-size: 400%;
                letter-spacing: 0;
                line-height: 131.25%;
                .pale {
                    display: inline-block;
                }
            }
            p {
                font-size: 100%;
            }
            .p_mob {
                display: none;
            }
            .p_desk {
                display: flex;
                flex-direction: column;
            }
            .btn-uno {
                width: 15.7%;
                height: 56px;
            }
        }
        .episodios {
            clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%);
            h2 {
                margin: 12.9% 0 1.81% 13.89%;
                font-size: 300%;
                line-height: 129.167%;
            }
            div {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 6.95% 10.9% 6.95%;
                iframe {
                    width: 47.11%;
                    height: 232px;
                    margin: 0 0 72px 0;
                }
            }
        }
        .nosotros {
            justify-content:center;
            flex-wrap: wrap;
            margin: -11.74vw 13.89vw 0 13.89vw;
            height: 660px;
            width:72.2222%;
            .cell {
                width: 43.95%;
                img {
                    width: auto;
                    height: 660px;
                    margin: 0 0 0 0;
                }
            }
            h2 {
                margin: 2% 0 2.31% 2.9%;
                font-size: 300%;
                line-height: 129.167%;
            }
            p {
                font-size: 100%;
                line-height: 150%;
                margin: 0 0 2.6% 0;
                width: 32.23vw;
            }
        }
        .entrevistas {
            h2 {margin: 4.45% 0 2.5% 13.89%;
                font-size: 300%;
            }
            div {
                flex-direction: row;
                flex-wrap: wrap;
                img {
                    width: 33.33%;
                }
            }
        }
        .topicos {
            h2 {
                margin: 4.45% 0 4.45% 13.89%;
                font-size: 300%;
            }
            div {
                flex-wrap:nowrap;
                article {
                    width:auto;
                    h3 {
                        margin: 2.02vw 0 0 0;
                    }
                }
            }
        }
    }

    /*-------------------FOOTER----------------------------------------*/

    footer {
        .novedades {
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
            div {
                .btn-dos {
                    width: 66.78%;
                    height: 3.89vw;
                }
            }
        }
        .social {
            width: 100%;
            height: 95px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h4 {
                margin: 2.5vw 0 2.23vw 6.95vw;
                font-size: 100%;
                line-height: 175%;
            }
            div {
                width: 16.11%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-right: 6.95vw;
                a {
                    color: #060a24;
                    text-decoration: none;
                }
            }
        }
    }
}
