/*-----------------------------HEADER-----------------------------------------------------------*/

body {
    margin: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    height: 13.75vw;
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            opacity: 0;
            display: none;
        }
        .check {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 13.75vw;
            align-items: center;
            img {
                justify-content: left;
                height: 7.5vw;
                margin-left: 5%;
            }
            label {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 27%;
                margin-right: 5.93%;

                #bars {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 88.9%;
                    height: 88.9%;
                    font-size:112.5%;
                }
                #times {
                    visibility: collapse;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 88.9%;
                    height: 88.9%;
                    font-size:112.5%;
                }
            }
        }
        .menu {
            background-color: #0000ec;
            visibility: collapse;
            width: 100%;
            height: 70vw;
            display: flex;
            margin-top: -0.31%;
            ul {
                list-style: none;
                font-family: "IBM Plex Mono";
                padding-left: 0;
                margin: 5% 0 7.5% 5%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li {
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 1em;
                        letter-spacing: 0em;
                        line-height: 1.75em;
                    }
                }
            }
        }
    }
    #check:checked ~ .check {
        #bars {
            visibility: collapse;
        }
        #times {
            visibility: visible;
        }
    }
    #check:checked ~ .menu {
        visibility: visible;
    }
}

/*-------------------------MAIN---------------------*/

main {
    margin-top: 13.75vw;
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10.07% 5% 7.5% 5%;
        h1 {
            text-align: left;
            margin: 9.065% 0 5.56% 0;
            color: #060a24;
            .world {
                text-decoration: line-through;
            }
            .pale {
                display: block;
            }
            .dot {
                color: #0000ec;
            }
        }
        p {
            text-align: justify;
            margin-bottom: 12.5%;
        }
        .p_mob {
            display: flex;
        }
        .p_desk {
            display: none;
        }

        .btn-uno {
            background-color: #00f3bb;
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
    .episodios {
        background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
        clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            align-self: flex-start;
            margin: 20vw 0 6.565vw 5%;
            color: #ffffff;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 44.85%;
            iframe {
                width: 93.125%;
                height: 231.5px;
                border: none;
                margin: 0 1.565% 3.44% 1.565%;
            }
        }
    }
    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5% 0 5%;
        .cell {
            display: flex;
            justify-content: center;
            width: 100vw;
            z-index: 1;
            img {
                width: 360px;
                height: 519px;
                margin-top: -33.44vw;
            }
        }
        h2 {
            align-self: flex-start;
            margin: 8.44vw 0 2.5vw 0;
        }
        p {
            margin: 0 0 3.75vw 0;
        }
    }
    .entrevistas {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            align-self: flex-start;
            margin: 13.13vw 0 4.38vw 5vw;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
                height: auto;
                margin: -0.31%;
            }
        }
    }
    .topicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            align-self: flex-start;
            margin: 15vw 0 11.565vw 5vw;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3 {
                    margin: 4.056vw 0 15vw 0;
                }
                img {
                    width: 104px;
                    height: auto;
                }
            }
        }
    }
}

/*---------------------FOOTER------------------------------------------*/

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .novedades {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin: 20vw 0 11.25vw 0vw;
                color: #ffffff;
                text-align: center;
                width: 90%;
            }
            .btn-dos {
                background-color: #00f3bb;
                width: 90%;
                height: 15vw;
                padding: 0;
                margin: 0 0 20.94vw 0;
                border: 0;
            }
        }
    }
    .social {
        width: 100%;
        height: 104px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        z-index: 1;
        h4 {
            margin: 7.5vw 0 5vw 0;
        }
        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            a {
                color: #060a24;
                text-decoration: none;
            }
        }
    }
}
